:root {
  --text: #e6e6e6;
  --bg: #000;

  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

h1 {
  font-size: 28px;
}
